.header {
  position: sticky;
  top: 0;
  width: 100vw;
  background: transparent;
  padding: 0.5rem 0;
  transition: background-color 0.5s ease-in;
  z-index: 10;
  max-width: 1600px;
  max-height: 95px;
  margin: 0 auto;

  a {
    color: white;
    font-family: 'Playfair Display', serif;

    &:hover {
      color: #C2DFE3;
    }
  }

  nav {
    display: flex;
  }

  :global .active {
    color: #C2DFE3;
    transition: all 0.4s;
  }

}

.link {
  display: inline;
  font-size: 1.4rem;
  margin-left: 1rem;
  transition: all 0.4s;
  cursor: pointer;
}

.link:after {
  content: '';
  background: #C2DFE3;
  display: block;
  margin: 0 auto;
  width: 0;
  height: 1px;
  transition: all ease-in-out 0.3s;
}

.link:hover:after {
  width: 100%;
  transition: all ease-in-out 0.3s
}

.title {
  margin: 0;
  color: white;
}

.container {
  composes: container from './container.module.scss';
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flexContainer {
  display: flex;
}