.projects {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

:local(.project) {
  max-width: 50%;
  flex-basis: 50%;
  min-height: 350px;
  background-color: #000;
  transition: transform 0.4s linear, z-index 0s 0.3s;
  position: relative;
  opacity: 1;

  :global .metaContainer {
    opacity: 0;
    color: white;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    z-index: 10;
    text-align: center;
    pointer-events: none;

    p {
      font-size: 1.2rem;
      color: white;
      border-bottom: 1px solid white;
    }
  }

  :global &:hover {
    z-index: 5;
    transform: translate(0rem, -0.5rem);
    box-shadow: -7px 10px 5px -2px rgba(0, 0, 0, 0.38);
    opacity: 1;
    :global .metaContainer {
      opacity: 1;
    }
  }
}

.backgroundImage {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  transition: opacity 0.4s linear;
}

.backgroundImage:hover {
  opacity: 0.5!important;
}

@media screen and (max-width: 1200px) {
  .project {
    margin: 0 -1rem;
  }
}

@media screen and (max-width: 767px) {
  .project {
    max-width: 100%;
    flex-basis: 100%;
  }
}
